/* Selected answer styling */
.exam-container .selected {
  background-color: rgb(0, 0, 90) !important;
}

/* Correct answer styling */
.exam-container .correct {
  background-color: green !important;
}

/* Incorrect answer styling */
.exam-container .wrong {
  background-color: red !important;
}

.exam-container ul li {
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}
.disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}
.exam-shadowed-card {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  box-shadow: offset-x offset-y blur-radius spread-radius color inset;
}
