@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  box-shadow: 10px 1px 10px 1px rgba(0, 0, 0, 0.3);
  box-shadow: offset-x offset-y blur-radius spread-radius color inset;
}
/* index.css */

.dark {
  background-color: rgb(50, 50, 50);
  color: #f7fafc;
}

.light {
  background-color: #edf2f7;
  color: #2d3748;
}
